html {
  
}
.heading {
  border-right: 2px solid green;
  background-color: rgba(120, 245, 48, 0.735);
  overflow: hidden;
  /* line-height: 125%; */
  margin: 8px 4px;
  animation: typewriter 4s steps(20) infinite alternate;
}

@keyframes typewriter {
  0% {
    width: 0%;
  }
  100% {
    width: 105%;
  }
}